*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 
}
.main-div {
    display: flex;
    margin-top: 70%;
}

#checkout__btn,
#checkin__btn {

    margin: 25%;
    padding: 10px;
    width: 50%;
    background-color: #2b2d54;
    color: white;
    border: none;
    border-radius: 10px;
}
.checkout__box{
    margin-right:2%;
    margin-left:2%;
}
.checkin__box {
    margin-right:2%;
}


.checkout__box,
.checkin__box {
    background-color:  #ededfc;
    width: 50%;
    height: 20%;
    border-radius: 15px;
}

/* main divs css ends here */

.head{
    color: #2b2d54;
    border-bottom:3px solid #f5f5f7;
    font-size: 20px;
    padding-left: 12%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
}
.searcher{
    border: 1px solid cornflowerblue;
    margin-top:3px;
    border-radius: 20px;
    font-size: 12px;
    width: 80%;
    padding: 7px;
    padding-left:20px ;
    padding-left: 35px; /* space for icon */
    background: url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat 10px center;
    background-size: 16px 16px;
    background-color: white;

}
.searcher:focus {
    outline-color:darkblue; /* Change this to any color you want */
    outline-width: 2px; /* Optional: Adjust the thickness of the outline */
  }
.search-area__btn{
    background-color:#2b2d54;
    width: 36%;
    color: white;
    padding:10px;
    border: none;
    border-radius: 6px;
    margin: 5px;
    margin-top: 6px;
    font-weight: bold;

}
.btn1{
    background-color:#dee2fc;
    color:#2b2d54 ;
}
.btn1:hover{
    background-color: #2b2d54;
    color:white ;
}

.btn2:hover{
    background-color: #dee2fc;
    color:#2b2d54 ;
}


.seacrch_btn-area{
    display: block;
    padding-left: 17%;
    margin-top: 5px;
    margin-bottom: 5px;


}

/* search area ends here */

.checkin__div {
    margin: 5%;
    width: 90%;
    height: 80%;
    background-color:#c7c7ff;
    display: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.checkout__form {
    background-color:#ededfc;
    padding: 15px;
}
.check-heads{
    font-size:10px;
    color:#2b2d54;
    font-weight: 500;
}

.check-row{
    margin-top: -2px;
}
.search-area{
    padding: 10px;
}

.input-txt{
    /* border: 1px solid cornflowerblue; */
    background-color: wh;
    border: none;
    margin-top:5px;
    border-radius: 14px;
    width: 87%;
    padding: 5px;
    padding-left: 20px;

}
.input-txt:focus {
    outline-color:cornflowerblue; /* Change this to any color you want */
    outline-width: 2px; /* Optional: Adjust the thickness of the outline */
  }
#btn-submit{
    background-color:#2b2d54;
    width: 80%;
    color: white;
    padding:7px;
    border: none;
    border-radius: 6px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: -3px;
}
#btn-submit:hover{
    background-color:#484a66;

}

.my-table {
    border-collapse: separate; 
    border-spacing: 0 15px;  
  }

  /* checkin divs css ends here */

  .checkout__div {
    margin:5%;
    width: 90%;
    height: 80%;
    background-color:#c7c7ff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    display: none;
}

.head1{
    color: #2b2d54;
    border-bottom:3px solid #f5f5f7;
    padding-left: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.checkin__form {
    background-color:#ededfc;
    padding: 15px;
}
.checkin-row{
    margin-top: -2px;
}
.check-in{
    background-color:#2b2d54;
    width: 40%;
    color: white;
    padding:12px;
    border: none;
    border-radius: 6px;
    margin: 10px;
    margin-top: 20px;
}
.check-in:hover{
    background-color:#484a66;

}
.input-txt1{
    /* border: 1px solid cornflowerblue; */
    border: none;
    margin-top:5px;
    border-radius: 20px;
    width: 87%;
    height: 22px;
    padding: 5px;
    padding-left: 20px;

}
.input-txt1:focus {
    outline-color:cornflowerblue;
    outline-width: 2px; 
  }
/* checkin div ends here */


 /* media query media query media query media query media query media query media query media query media query media query */
 @media screen and (min-width:400px) {
    .main-div{
        margin-top: 10%;
    }
    
 }
@media screen and (min-width:600px) {
    .head{
        padding-left: 30%;
        font-size: 25px;

    }
    .searcher{
        margin-left: 5%;
    }
    .checkin__div {
        margin-top: 30%;
        margin: auto;
        width: 75%;
        height: 90%;
    }

    #checkout__btn,
    #checkin__btn {
        padding: 15px;

    }

    .division__1 {
        margin: 20%;
    }
    .check-row{
        margin-left: 5%;
    }

    #btn-submit{
        margin-top:35px;
    }
    .checkout__form{
        margin-top: 15px;
        height:80%px;

    }
    .seacrch_btn-area{
        margin-bottom :-10px;;
    }

    .check-row{
        margin-top: 7px;
    }
    /* checkin div ends here */
   
    .checkout__div {
        margin:18%;
        width: 65%;
        height: 80%;
        display: none;
    }

    .main-div{
        margin-top: 20%;
    }
}

/* media query for 600px+ ends here */

@media screen and (min-width:1000px) {
    .head{
        padding-left: 32%;
        font-size: 20px;
    }
    .searcher{
        margin-left: 5%;
    }
    .checkin__div {
        margin: auto;
        width: 52%;
        height: 100%;
    }

    #checkout__btn,
    #checkin__btn {
        padding: 15px;

    }

    .division__1 {
        margin: 20%;
    }
    .check-row{
        margin-left: 5%;
        margin-top: -5px;
         


    }
    .check-heads{
        font-size: 16px;
    }

    #btn-submit{
        width:50%;
        margin-top:15px;
    }
    .checkout__form{
        margin-top: 15px;
        height:330px;

    }
    .checkout__div {
        margin:20%;
        margin-top: 120px;
        width: 55%;
        height: 80%;
        display: none;
    }
    .main-div{
        margin-top: 10%;
    }
 
  
}

/* media query for 600px+ ends here */

@media screen and (min-width:1500px) {
    .checkin__div {
        margin: auto;
        width: 45%;
        height: 100%;
    }
    .checkout__form{
        margin-top: 15px;
        height:330px;

    }

    .check-row{
        margin-top: 7px;
    }
    .check-heads{
        font-size: 16px;
    }
    .main-div{
        margin-left: -10px;
    }

}

